@using MyWebShop.ViewModels
@{
    var addresses = (AddressesViewModel)Model.Addresses;

    Style.Require("MyWebShop.Common");
}
<h2>Address Details</h2>
<p>@T("请向我们提供您的账单地址和送货地址。如果两个地址是相同的，那么你只需要向我们提供您的发票地址。")</p>

@using (Html.BeginFormAntiForgeryPost(Url.Action("SelectAddress", "Checkout", new { area = "MyWebShop" })))
{
    <article class="form">

        @Html.EditorFor(m => addresses.InvoiceAddress)
        @Html.EditorFor(m => addresses.ShippingAddress)

        <footer class="commands">
            <ul>
                <li class="align right"><button type="submit">@T("下一步")</button></li>
            </ul>
        </footer>
    </article>
}
