/src/packages
/src/Orchard/bin
/src/Orchard.Web.Tests/obj
/src/Orchard.Web.Tests/bin
/src/Orchard.Core.Tests/bin
/src/Orchard.Core.Tests/obj
/src/Orchard.Profile/obj
/src/Orchard.Profile/bin
/src/Orchard.Specs/obj
/src/Orchard.Specs/bin
/src/Orchard.Tests/obj
/src/Orchard.Tests/bin
/src/Orchard.Tests.Modules/obj
/src/Orchard.Tests.Modules/bin
/src/Orchard.WarmupStarter/obj
/src/Orchard.WarmupStarter/bin
/src/Tools/MSBuild.Orchard.Tasks/obj
/src/Tools/MSBuild.Orchard.Tasks/bin
/src/Tools/Orchard/obj
/src/Tools/Orchard/bin
/src/Tools/Orchard.Tests/obj
/src/Tools/Orchard.Tests/bin
/src/Orchard.Web/obj
/src/Orchard.Web/bin
/src/Orchard.Web/*.user
/src/Orchard.Web/App_Data/Dependencies
/src/Orchard.Web/Themes/bin
/src/Orchard.Web/Themes/obj
/src/Orchard/obj
/src/Orchard.Web/App_Data/Logs
/src/Orchard.Web/Modules/Orchard.Blogs/obj
/src/Orchard.Web/Modules/Orchard.Blogs/bin
/src/Orchard.Web/Modules/Orchard.Blogs/*.user
/src/Orchard.Web/Core/obj
/src/Orchard.Web/Core/bin
