/src/packages
/src/Orchard/bin
/src/Orchard.Web.Tests/obj
/src/Orchard.Web.Tests/bin
/src/Orchard.Core.Tests/bin
/src/Orchard.Core.Tests/obj
/src/Orchard.Profile/obj
/src/Orchard.Profile/bin
/src/Orchard.Specs/obj
/src/Orchard.Specs/bin
/src/Orchard.Tests/obj
/src/Orchard.Tests/bin
/src/Orchard.Tests.Modules/obj
/src/Orchard.Tests.Modules/bin
/src/Orchard.WarmupStarter/obj
/src/Orchard.WarmupStarter/bin
/src/Tools/MSBuild.Orchard.Tasks/obj
/src/Tools/MSBuild.Orchard.Tasks/bin
/src/Tools/Orchard/obj
/src/Tools/Orchard/bin
/src/Tools/Orchard.Tests/obj
/src/Tools/Orchard.Tests/bin
/src/Orchard.Web/obj
/src/Orchard.Web/bin
/src/Orchard.Web/*.user
/src/Orchard.Web/App_Data/Dependencies
/src/Orchard.Web/Themes/bin
/src/Orchard.Web/Themes/obj
/src/Orchard/obj
/src/Orchard.Web/App_Data/Logs
/src/Orchard.Web/Modules/Orchard.Blogs/obj
/src/Orchard.Web/Modules/Orchard.Blogs/bin
/src/Orchard.Web/Modules/Orchard.Blogs/*.user
/src/Orchard.Web/Core/obj
/src/Orchard.Web/Core/bin
/src/Orchard.Web/Modules/Lucene/obj
/src/Orchard.Web/Modules/Lucene/bin
/src/Orchard.Web/Modules/Markdown/obj
/src/Orchard.Web/Modules/Markdown/bin
/src/Orchard.Web/Modules/MyWebShop/obj
/src/Orchard.Web/Modules/MyWebShop/bin
/src/Orchard.Web/Modules/Orchard.Alias/bin
/src/Orchard.Web/Modules/Orchard.Alias/obj
/src/Orchard.Web/Modules/Orchard.Alias/Orchard.Alias.csproj.user
/src/Orchard.Web/Modules/Orchard.AntiSpam/Orchard.AntiSpam.csproj.user
/src/Orchard.Web/Modules/Orchard.AntiSpam/bin
/src/Orchard.Web/Modules/Orchard.AntiSpam/obj
/src/Orchard.Web/Modules/Orchard.ArchiveLater/Orchard.ArchiveLater.csproj.user
/src/Orchard.Web/Modules/Orchard.ArchiveLater/bin
/src/Orchard.Web/Modules/Orchard.ArchiveLater/obj
/src/Orchard.Web/Modules/Orchard.AuditTrail/obj
/src/Orchard.Web/Modules/Orchard.AuditTrail/bin
/src/Orchard.Web/Modules/Orchard.AuditTrail/Orchard.AuditTrail.csproj.user
/src/Orchard.Web/Modules/Orchard.Autoroute/Orchard.Autoroute.csproj.user
/src/Orchard.Web/Modules/Orchard.Autoroute/bin
/src/Orchard.Web/Modules/Orchard.Autoroute/Properties
/src/Orchard.Web/Modules/Orchard.Azure/obj
/src/Orchard.Web/Modules/Orchard.Azure/Orchard.Azure.csproj.user
/src/Orchard.Web/Modules/Orchard.Azure/bin
/src/Orchard.Web/Modules/Orchard.Azure.MediaServices/*.user
/src/Orchard.Web/Modules/Orchard.Azure.MediaServices/*
/src/Orchard.Web/Modules/Orchard.Caching/Orchard.Caching.csproj.user
/src/Orchard.Web/Modules/Orchard.Caching/bin
/src/Orchard.Web/Modules/Orchard.Caching/obj
/src/Orchard.Web/Modules/Orchard.CodeGeneration/Orchard.CodeGeneration.csproj.user
/src/Orchard.Web/Modules/Orchard.CodeGeneration/bin
/src/Orchard.Web/Modules/Orchard.CodeGeneration/obj
/src/Orchard.Web/Modules/Orchard.Comments/Orchard.Comments.csproj.user
/src/Orchard.Web/Modules/Orchard.Comments/bin
/src/Orchard.Web/Modules/Orchard.Comments/obj
/src/Orchard.Web/Modules/Orchard.Conditions/Orchard.Conditions.csproj.user
/src/Orchard.Web/Modules/Orchard.Conditions/bin
/src/Orchard.Web/Modules/Orchard.Conditions/obj
/src/Orchard.Web/Modules/Orchard.ContentPermissions/Orchard.ContentPermissions.csproj.user
/src/Orchard.Web/Modules/Orchard.ContentPermissions/bin
/src/Orchard.Web/Modules/Orchard.ContentPermissions/obj
/src/Orchard.Web/Modules/Orchard.ContentPicker/Orchard.ContentPicker.csproj.user
/src/Orchard.Web/Modules/Orchard.ContentPicker/bin
/src/Orchard.Web/Modules/Orchard.ContentPicker/obj
/src/Orchard.Web/Modules/Orchard.ContentTypes/Orchard.ContentTypes.csproj.user
/src/Orchard.Web/Modules/Orchard.ContentTypes/bin
/src/Orchard.Web/Modules/Orchard.ContentTypes/obj
/src/Orchard.Web/Modules/Orchard.CustomForms/Orchard.CustomForms.csproj.user
/src/Orchard.Web/Modules/Orchard.CustomForms/bin
/src/Orchard.Web/Modules/Orchard.CustomForms/obj
/src/Orchard.Web/Modules/Orchard.Dashboards/Orchard.Dashboards.csproj.user
/src/Orchard.Web/Modules/Orchard.Dashboards/bin
/src/Orchard.Web/Modules/Orchard.Dashboards/obj
/src/Orchard.Web/Modules/Orchard.DesignerTools/Orchard.DesignerTools.csproj.user
/src/Orchard.Web/Modules/Orchard.DesignerTools/bin
/src/Orchard.Web/Modules/Orchard.DesignerTools/obj
/src/Orchard.Web/Modules/Orchard.Email/Orchard.Email.csproj.user
/src/Orchard.Web/Modules/Orchard.Email/bin
/src/Orchard.Web/Modules/Orchard.Email/obj
/src/Orchard.Web/Modules/Orchard.Fields/Orchard.Fields.csproj.user
/src/Orchard.Web/Modules/Orchard.Fields/bin
/src/Orchard.Web/Modules/Orchard.Fields/obj
/src/Orchard.Web/Modules/Orchard.Forms/Orchard.Forms.csproj.user
/src/Orchard.Web/Modules/Orchard.Forms/bin
/src/Orchard.Web/Modules/Orchard.Forms/obj
/src/Orchard.Web/Modules/Orchard.ImageEditor/Orchard.ImageEditor.csproj.user
/src/Orchard.Web/Modules/Orchard.ImageEditor/bin
/src/Orchard.Web/Modules/Orchard.ImageEditor/obj
/src/Orchard.Web/Modules/Orchard.ImportExport/Orchard.ImportExport.csproj.user
/src/Orchard.Web/Modules/Orchard.ImportExport/bin
/src/Orchard.Web/Modules/Orchard.ImportExport/obj
/src/Orchard.Web/Modules/Orchard.Indexing/Orchard.Indexing.csproj.user
/src/Orchard.Web/Modules/Orchard.Indexing/bin
/src/Orchard.Web/Modules/Orchard.Indexing/obj
/src/Orchard.Web/Modules/Orchard.JobsQueue/Orchard.JobsQueue.csproj.user
/src/Orchard.Web/Modules/Orchard.JobsQueue/bin
/src/Orchard.Web/Modules/Orchard.JobsQueue/obj
/src/Orchard.Web/Modules/Orchard.jQuery/Orchard.jQuery.csproj.user
/src/Orchard.Web/Modules/Orchard.jQuery/bin
/src/Orchard.Web/Modules/Orchard.jQuery/obj
/src/Orchard.Web/Modules/Orchard.Lists/Orchard.Lists.csproj.user
/src/Orchard.Web/Modules/Orchard.Lists/bin
/src/Orchard.Web/Modules/Orchard.Lists/obj
/src/Orchard.Web/Modules/Orchard.Localization/Orchard.Localization.csproj.user
/src/Orchard.Web/Modules/Orchard.Localization/bin
/src/Orchard.Web/Modules/Orchard.Localization/obj
/src/Orchard.Web/Modules/Orchard.Media/Orchard.Media.csproj.user
/src/Orchard.Web/Modules/Orchard.Media/bin
/src/Orchard.Web/Modules/Orchard.Media/obj
/src/Orchard.Web/Modules/Orchard.MediaLibrary/Orchard.MediaLibrary.csproj.user
/src/Orchard.Web/Modules/Orchard.MediaLibrary/bin
/src/Orchard.Web/Modules/Orchard.MediaLibrary/obj
/src/Orchard.Web/Modules/Orchard.MediaPicker/*.user
/src/Orchard.Web/Modules/Orchard.MediaPicker/*
/src/Orchard.Web/Modules/Orchard.MediaProcessing/Orchard.MediaProcessing.csproj.user
/src/Orchard.Web/Modules/Orchard.MediaProcessing/bin
/src/Orchard.Web/Modules/Orchard.MediaProcessing/obj
/src/Orchard.Web/Modules/Orchard.MessageBus/Orchard.MessageBus.csproj.user
/src/Orchard.Web/Modules/Orchard.MessageBus/bin
/src/Orchard.Web/Modules/Orchard.MessageBus/obj
/src/Orchard.Web/Modules/Orchard.Migrations/Orchard.Migrations.csproj.user
/src/Orchard.Web/Modules/Orchard.Migrations/bin
/src/Orchard.Web/Modules/Orchard.Migrations/obj
/src/Orchard.Web/Modules/Orchard.Modules/Orchard.Modules.csproj.user
/src/Orchard.Web/Modules/Orchard.Modules/bin
/src/Orchard.Web/Modules/Orchard.Modules/obj
/src/Orchard.Web/Modules/Orchard.MultiTenancy/Orchard.MultiTenancy.csproj.user
/src/Orchard.Web/Modules/Orchard.MultiTenancy/bin
/src/Orchard.Web/Modules/Orchard.MultiTenancy/obj
/src/Orchard.Web/Modules/Orchard.OutputCache/Orchard.OutputCache.csproj.user
/src/Orchard.Web/Modules/Orchard.OutputCache/bin
/src/Orchard.Web/Modules/Orchard.OutputCache/obj
/src/Orchard.Web/Modules/Orchard.Packaging/Orchard.Packaging.csproj.user
/src/Orchard.Web/Modules/Orchard.Packaging/bin
/src/Orchard.Web/Modules/Orchard.Packaging/obj
/src/Orchard.Web/Modules/Orchard.Pages/Orchard.Pages.csproj.user
/src/Orchard.Web/Modules/Orchard.Pages/bin
/src/Orchard.Web/Modules/Orchard.Pages/obj
/src/Orchard.Web/Modules/Orchard.Projections/Orchard.Projections.csproj.user
/src/Orchard.Web/Modules/Orchard.Projections/bin
/src/Orchard.Web/Modules/Orchard.Projections/obj
/src/Orchard.Web/Modules/Orchard.PublishLater/Orchard.PublishLater.csproj.user
/src/Orchard.Web/Modules/Orchard.PublishLater/bin
/src/Orchard.Web/Modules/Orchard.PublishLater/obj
/src/Orchard.Web/Modules/Orchard.Recipes/Orchard.Recipes.csproj.user
/src/Orchard.Web/Modules/Orchard.Recipes/bin
/src/Orchard.Web/Modules/Orchard.Recipes/obj
/src/Orchard.Web/Modules/Orchard.Redis/Orchard.Redis.csproj.user
/src/Orchard.Web/Modules/Orchard.Redis/bin
/src/Orchard.Web/Modules/Orchard.Redis/obj
/src/Orchard.Web/Modules/Orchard.Resources/Orchard.Resources.csproj.user
/src/Orchard.Web/Modules/Orchard.Resources/bin
/src/Orchard.Web/Modules/Orchard.Resources/obj
/src/Orchard.Web/Modules/Orchard.Roles/Orchard.Roles.csproj.user
/src/Orchard.Web/Modules/Orchard.Roles/bin
/src/Orchard.Web/Modules/Orchard.Roles/obj
/src/Orchard.Web/Modules/Orchard.Rules/Orchard.Rules.csproj.user
/src/Orchard.Web/Modules/Orchard.Rules/bin
/src/Orchard.Web/Modules/Orchard.Rules/obj
/src/Orchard.Web/Modules/Orchard.Scripting/Orchard.Scripting.csproj.user
/src/Orchard.Web/Modules/Orchard.Scripting/bin
/src/Orchard.Web/Modules/Orchard.Scripting/obj
/src/Orchard.Web/Modules/Orchard.Scripting.CSharp/Orchard.Scripting.CSharp.csproj.user
/src/Orchard.Web/Modules/Orchard.Scripting.CSharp/bin
/src/Orchard.Web/Modules/Orchard.Scripting.CSharp/obj
/src/Orchard.Web/Modules/Orchard.Scripting.Dlr/Orchard.Scripting.Dlr.csproj.user
/src/Orchard.Web/Modules/Orchard.Scripting.Dlr/bin
/src/Orchard.Web/Modules/Orchard.Scripting.Dlr/obj
/src/Orchard.Web/Modules/Orchard.Search/Orchard.Search.csproj.user
/src/Orchard.Web/Modules/Orchard.Search/Commands
/src/Orchard.Web/Modules/Orchard.Search/obj
/src/Orchard.Web/Modules/Orchard.SecureSocketsLayer/Orchard.SecureSocketsLayer.csproj.user
/src/Orchard.Web/Modules/Orchard.SecureSocketsLayer/bin
/src/Orchard.Web/Modules/Orchard.SecureSocketsLayer/obj
/src/Orchard.Web/Modules/Orchard.Setup/Orchard.Setup.csproj.user
/src/Orchard.Web/Modules/Orchard.Setup/bin
/src/Orchard.Web/Modules/Orchard.Setup/obj
/src/Orchard.Web/Modules/Orchard.Tags/Orchard.Tags.csproj.user
/src/Orchard.Web/Modules/Orchard.Tags/bin
/src/Orchard.Web/Modules/Orchard.Tags/obj
/src/Orchard.Web/Modules/Orchard.TaskLease/Orchard.TaskLease.csproj.user
/src/Orchard.Web/Modules/Orchard.TaskLease/bin
/src/Orchard.Web/Modules/Orchard.TaskLease/obj
/src/Orchard.Web/Modules/Orchard.Taxonomies/Orchard.Taxonomies.csproj.user
/src/Orchard.Web/Modules/Orchard.Taxonomies/bin
/src/Orchard.Web/Modules/Orchard.Taxonomies/obj
/src/Orchard.Web/Modules/Orchard.Templates/Orchard.Templates.csproj.user
/src/Orchard.Web/Modules/Orchard.Templates/bin
/src/Orchard.Web/Modules/Orchard.Templates/obj
/src/Orchard.Web/Modules/Orchard.Themes/Orchard.Themes.csproj.user
/src/Orchard.Web/Modules/Orchard.Themes/bin
/src/Orchard.Web/Modules/Orchard.Themes/obj
/src/Orchard.Web/Modules/Orchard.Tokens/Orchard.Tokens.csproj.user
/src/Orchard.Web/Modules/Orchard.Tokens/bin
/src/Orchard.Web/Modules/Orchard.Tokens/obj
/src/Orchard.Web/Modules/Orchard.Users/Orchard.Users.csproj.user
/src/Orchard.Web/Modules/Orchard.Users/bin
/src/Orchard.Web/Modules/Orchard.Users/obj
/src/Orchard.Web/Modules/Orchard.Warmup/Orchard.Warmup.csproj.user
/src/Orchard.Web/Modules/Orchard.Warmup/bin
/src/Orchard.Web/Modules/Orchard.Warmup/obj
/src/Orchard.Web/Modules/Orchard.Widgets/Orchard.Widgets.csproj.user
/src/Orchard.Web/Modules/Orchard.Widgets/bin
/src/Orchard.Web/Modules/Orchard.Widgets/obj
/src/Orchard.Web/Modules/Orchard.Workflows/Orchard.Workflows.csproj.user
/src/Orchard.Web/Modules/Orchard.Workflows/bin
/src/Orchard.Web/Modules/Orchard.Workflows/obj
/src/Orchard.Web/Modules/SysCache/SysCache.csproj.user
/src/Orchard.Web/Modules/SysCache/bin
/src/Orchard.Web/Modules/SysCache/obj
/src/Orchard.Web/Modules/TinyMce/bin
/src/Orchard.Web/Modules/TinyMce/obj
/src/Orchard.Web/Modules/TinyMce/TinyMce.csproj.user
/src/Orchard.Web/Modules/Upgrade/Upgrade.csproj.user
/src/Orchard.Web/Modules/Upgrade/bin
/src/Orchard.Web/Modules/Upgrade/obj
/src/Orchard.Web/Modules/Orchard.Autoroute/obj
/src/Orchard.Web/Modules/Orchard.DynamicForms/obj
/src/Orchard.Web/Modules/Orchard.DynamicForms/bin
/src/Orchard.Web/Modules/Orchard.Layouts/obj
/src/Orchard.Web/Modules/Orchard.Layouts/bin
/src/Orchard.Web/Modules/Orchard.Projections/Tests/obj
/src/Orchard.Web/Modules/Orchard.Projections/Tests/bin
/src/Orchard.Web/Modules/Orchard.Search/bin
/src/Orchard.Web/Modules/Orchard.Tokens/Tests/obj
/src/Orchard.Web/Modules/Orchard.Tokens/Tests/bin
/src/Orchard.Web/Themes/MyTheme/obj
/src/Orchard.Web/Themes/MyTheme/bin
