
<section class="header-bar clearfix">
    <div class="hTop-con">
        <ul class="brandLogo fl">
            <li class="fl border-right"><a title="" href="#"><img src="images/cat_2014_02.jpg" /></a></li>
            <li class="border-right"><a title="" href="#"><img src="images/cat_2014_04.jpg" /></a></li>
            <li class="border-right"><a title="" href="#"><img src="images/cat_2014_06.jpg" /></a></li>
        </ul>
        <ul class="pullUl-r fr clearfix">
            <li class="pullUl-l">馋嘴猫欢迎您，</li>
            <li style="padding-left:0 !important;" class="border-right mmt"><a class="font-colo" href="index?act=login">登陆</a> / <a class="font-colo" href="#">免费注册</a> </li>
            <li class="border-right"><a href="#">我的订单</a> </li>
            <li class="border-right"><a href="#">我的收藏</a> </li>
            <li style=" border-right:none;" class="border-right"><a href="#">我的馋嘴猫</a> </li>
            <li><a href="#">帮助</a></li>
        </ul>
    </div>
</section>
<!--搜索-->
<section class="logoTit clearfix">
    <div class="hTop-con">
        <div class="aLogo fl"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
        <div class="aSearch fl">

            <input type="text" placeholder="请输入内容" class="aInpu1 border-colo" />

            <input type="submit" class="aSub1 c-Icon background-colo border-colo" value="" />
        </div>
        <div class="aBuyList fr border-colo"> <a id="cart" class="cart_link" href="#" title=""> <span class="caBox1 c-Icon"></span> <span class="caText border-colo">去购物车结算 </span> <span class="caNum" style="none"></span> <s class="icon_arrow_right c-Icon"></s> <i class="c-Icon icon_arrow">3</i> </a> </div>
    </div>
</section>

